include ../modules/parts/preloader/preloader.pug
include ../modules/parts/close/close.pug
include ../modules/parts/nav/nav.pug
include ../modules/parts/menu/menu.pug
include ../modules/parts/article/article.pug
include ../modules/parts/slider/slider.pug
include ../modules/parts/skill/skill.pug
include ../modules/parts/service/service.pug
include ../modules/parts/education/education.pug
include ../modules/parts/experience/experience.pug
include ../modules/parts/social/social.pug

include ../modules/base/field/field.pug
include ../modules/base/button/button.pug
include ../modules/base/textarea/textarea.pug

include ../modules/layout/footer/footer.pug