.footer{
	display: none;
	background-color: lighten(#000, 10%);
	position: absolute;
	padding: 20px 0;
	z-index: 3;
	left: 0;
	right: 0;
	bottom: 0;
	.row{
		& > *{
			margin: 10px 0;
			@include media-max($screen-sm){
				text-align: center;
			}
		}
	}
}