mixin footer(item)
	footer.footer&attributes(attributes)
		.container-fluid
			.container
				.row.align-middle
					.col-12.col-sm-6
						p.font.font--white Copyright © 2018 Portfolio. All Rights Reserved
					.col-12.col-sm-6
						+social