mixin textarea(placeholder, name, required)
	if required
		textarea.textarea(placeholder=placeholder, name=name, required)&attributes(attributes)
	else
		textarea.textarea(placeholder=placeholder, name=name)&attributes(attributes)