$title-color: (
	'primary': $primary, 
	'second': $second,
	'third': $third,
	'white': #fff
);
$title-size: (
	'1': 60px, 
	'2': 54px,
	'3': 40px,
	'4': 36px,
	'5': 26px,
	'6': 24px
);
$title-weight: (
	'light': 300, 
	'regular': 400, 
	'semibold': 500
);
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
	color: $base-font-color;
	line-height: 1;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	@each $status, $text-color in $title-color{
		&--#{$status}{
			color: $text-color;
		}
	}
	@each $status, $text-weight in $font-weight{
		&--#{$status}{
			font-weight: $text-weight;
		}
	}
}
@each $index, $status in $title-size{
	.h#{$index}{
		font-size: $status;
		@include media-max($screen-md){
			font-size: ($status / 2) + 10px
		}
	}
}