.button{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	border: 2px solid $primary;
	&:hover,
	&--active{
		background-color: rgba(0,0,0,0);
		border-color: $primary;
		color: $primary;
	}
	&--big{
		height: 60px;
		padding: 15px 30px;
		font-size: 22px;
	}
	&--small{
		height: 50px;
		padding: 10px 20px;
		font-size: 20px;
	}
}