mixin social
	.social.flex.align-middle.align-right&attributes(attributes)
		a(href="#").social__item
			i.fab.fa-facebook-f
		a(href="#").social__item
			i.fab.fa-twitter
		a(href="#").social__item
			i.fab.fa-pinterest-p
		a(href="#").social__item
			i.fab.fa-behance
		a(href="#").social__item
			i.fab.fa-google
		a(href="#").social__item
			i.fab.fa-dribbble