$logo:(
	height: 50px,
	width: 100px,
	color-background: #d4d4d4,
);

.logo{
	display: block;
	width: map-get($logo, width);
	height: map-get($logo, height);
	background-color: map-get($logo, color-background);
}