mixin slider
	.slider&attributes(attributes)
		.slider__item.text-center
			i.fab.fa-behance
			p.font.font--lg.font--white Behance
		.slider__item.text-center
			i.fab.fa-dribbble
			p.font.font--lg.font--white Dribbble
		.slider__item.text-center
			i.fab.fa-behance
			p.font.font--lg.font--white Behance
		.slider__item.text-center
			i.fab.fa-dribbble
			p.font.font--lg.font--white Dribbble
		.slider__item.text-center
			i.fab.fa-behance
			p.font.font--lg.font--white Behance
		.slider__item.text-center
			i.fab.fa-dribbble
			p.font.font--lg.font--white Dribbble