$min-width: 320px;
$max-width: 1170px;

$base-font-size: 18px;
$base-font-color: #b7b7b7;
$base-font-weight: 400;
$base-font-line-height: 1.5;
$base-font-family: 'Arial', sans-serif;

$base-background-color: rgba(0,0,0,1);
$base-border-color: #d4d4d4;
$base-transition: all 0.5s;

$base-grid-padding: 15px;
$base-grid-margin: 15px;
$base-grid-column: 12;

$primary: #f6483b;
$second: rgba(107,107,107,1);
$third: rgba(34,34,34,1);

$screen-sm: 576;
$screen-md: 768;
$screen-lg: 992;
$screen-xl: 1200;